@media (max-width: 600px) {
    body {
        font-size: 12px;
    }
}

table.dataTable tr.odd {
    background-color: #DCDBD3
}

a {
    text-decoration: none;
    color: blue;
}

/* Ensure all table cells align text to the top */
table.dataTable td {
    vertical-align: top;
}

#tbl {
    table-layout: fixed;
    /* Ensure fixed table layout */
    width: 100%;
    /* Ensure table takes full width of container */
}

#tbl td:nth-child(1) {
    width: 100px;
    /* Set a fixed width for the date column */
    white-space: nowrap;
    /* Prevent wrapping */

}